/* Info Container */
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 20px auto;
  padding: 15px;
  background-color: #333333;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  min-width: 600px;
  max-width: 600px;
}

/* Feedback */
.feedback {
  text-align: center;
  font-size: 1.5rem;
  margin: 15px 0;
}

.feedback.shake {
  animation: shake 0.7s cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

/* Shape Containers */
.shapes-container,
.shapes-container-random {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
  width: 100%;
  max-width: 60rem;
}

@media (max-width: 768px) {
  .shapes-container,
  .shapes-container-random {
    width: 100%;
  }
}

/* Buttons */
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #444;
  color: #fff;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #555;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

button:disabled {
  background-color: #666;
  cursor: not-allowed;
}

/* Dialog */
.dialog {
  padding: 2rem;
  border-radius: 16px;
  border: none;
  background-color: #f4f4f4;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
